* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


body{
    background-color: #fce138;
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
  }

/* -----header ----*/
header{
    padding: 20px;
    background-color: #39a6b2;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a{
    color: #fce138;
    text-decoration: none;
}

header nav{
    float: right;
    margin: 7px 0px; 
    
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    
}

/* ---- footer ---- */

footer{
    background:#fce138;
    width: 100%;
    padding: 40px 35px; 
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0; 
}

footer div{
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: #024e76; 
}

/* --- hero section styles  --- */

.hero{
    padding: 60px;
    background-image: url("../images/hero.jpg"); 
    height: 600px;
    background-size: cover;
    background-position: center; 
    position: relative; 
   
}

.hero-form{

    color: #024e76;
    background-color: #fce138;
    width: border-box;
    padding: 20px;
    border: #024e76 3px solid; 
    position: absolute;
    bottom: 120px;
    right: 140px; 
}

.hero-form h3{
    font-size: 24px;
    margin: 0px;
}

.hero-form p{
    margin: 5px 0 15px 0;
}

.form-input{
    width: 100%; 
    border: 1px solid #024e76;
    padding: 7px 15px;
    font-size: 15px;
    color: #024e76;
    display: block; 
    margin-bottom: 15px; 
}

.hero-form button{
    background-color: #024e76;
    color: #fce138;
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 

}

/* hero section end */